ul#cssmw1 {
  cursor: default;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
ul#cssmw1 ul {
  cursor: default;
  font-size: 0;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
ul#cssmw1 ul li {
  background-image: none;
  float: none;
}
ul#cssmw1 li {
  background-image: none;
  float: left;
  padding: 0 0 0 0;
  position: relative;
  white-space: nowrap;
  z-index: 100;
}
ul#cssmw1 li ul {
  display: none;
  top: 0;
}
ul#cssmw1 li:hover > ul {
  display: block;
  position: absolute;
}

ul#cssmw1 li.hover > ul {
  display: block;
  position: absolute;
}

ul#cssmw1 li.current > ul {
  position: absolute;
}
ul#cssmw1 > li {
  background-image: none;
}
ul#cssmw1 > li > a {
  background-color: #A7B9C9;
  background-image: none;
  border-bottom: solid 0px #A7B9C9;
  border-right: solid 3px #5E7D95;
  border-top: solid 3px #5E7D95;
  color: #000000;
  display: block;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: bold;
  height: 17px;
  margin: 0 0 0 0;
  padding: 5px 5px 5px 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 143px;
}
ul#cssmw1 > li > a:visited {
  background-color: #f27239;
}
ul#cssmw1 > li > a:active {
  background-color: #D9E1E8;
  color: #173232;
  font-weight: bold;
  text-decoration: none;
}
ul#cssmw1 > li:hover > a {
  background-color: #D9E1E8;
  color: #5E7D95;
  font-weight: bold;
  text-decoration: none;
}

ul#cssmw1 > li.hover > a {
  background-color: #D9E1E8;
  color: #5E7D95;
  font-weight: bold;
  text-decoration: none;
}

ul#cssmw1 > li.current > a.current {
  background-color: #D9E1E8;
  color: #5E7D95;
  font-weight: bold;
  text-decoration: none;
}
